.footer{
    background-color: #525252;
    text-align: center;
    padding: 19px 0 18px;

    small{
        font-family: $montserrat;
        font-size : 1.0rem;
        letter-spacing: 0.0015em;
        color: #FFF;
    }
}
